In [ ]:
import pandas as pd
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

# Before Merge

In [ ]:
onchain_block_before_merge = pd.read_csv('/content/drive/My Drive/WIP/block_data_before_merge.csv',index_col=0).sort_values("number").reset_index(drop=True)
onchain_block_before_merge

          number  transaction_count  gas_used  gas_limit
0       15348255                263  23946812   30029295
1       15348256                 52   3774723   29999971
2       15348257                125  13361351   30000000
3       15348258                 67   5792797   30000000
4       15348259                 73   5984715   30000000
...          ...                ...       ...        ...
189134  15537389                175  26226335   30029295
189135  15537390                 46   6893891   30000000
189136  15537391                105  16969164   30000000
189137  15537392                 61  29990952   30000000
189138  15537393                  1  29991429   30000000

[189139 rows x 4 columns]

In [ ]:
onchain_block_before_merge_block_number = onchain_block_before_merge['number'].tolist()
len(onchain_block_before_merge_block_number)

189139

In [ ]:
flashbot_block_before_merge = pd.read_csv('/content/drive/My Drive/WIP/flashbot_block_before_merge.csv',index_col=0).sort_values("block_number").reset_index(drop=True)
flashbot_block_before_merge

,block_number,miner_reward,coinbase_transfers,gas_price,gas_used,eth_sent_to_fee_recipient,fee_recipient_eth_diff
0,15348255,11926214593658412,3391443615875072,20728661375,575349,3391443615875072,11926214593658412
1,15348257,5023518897481736,0,3963137787,1267561,0,5023518897481736
2,15348261,97191328636407440,4014437849720956,77957936365,1246715,4014437849720956,97191328636407440
3,15348264,9059165291440794,0,21981009403,412136,0,9059165291440794
4,15348265,6740549595880081,0,4523011862,1490279,0,6740549595880081
...,...,...,...,...,...,...,...
89995,15537378,167096721772711622,5395848815221101,64837517629,2577161,5395848815221101,167096721772711622
89996,15537379,37685139690225142,12800065788662799,20120127522,1873007,12800065788662799,37685139690225142
89997,15537380,159081787090937021,22043312743901667,235507505112,675485,22043312743901667,159081787090937021
89998,15537383,26686768892493470,22724055538857249,29360578010,908932,22724055538857249,26686768892493470
89999,15537389,28134768405388443,25490721352360347,73597088020,382281,25490721352360347,28134768405388443

In [ ]:
flashbot_block_before_merge_block_number = flashbot_block_before_merge['block_number'].tolist()
len(flashbot_block_before_merge_block_number)

90000

In [ ]:
result_before = []
for num in flashbot_block_before_merge_block_number:
    subtracted_num = int(num) - 15348255
    result_before.append(subtracted_num)

In [ ]:
daily = 7000
import numpy as np
period_before = int(np.floor(onchain_block_before_merge.shape[0] / daily))
period_before

27

In [ ]:
daily_perc_before_merge = []

range_start = 0
range_end_before = period_before * daily

# Define the range increment
range_increment = 7000

# Create a dictionary to store the appearance rates
appearance_rates_before = {}

# Count the appearance rates within each range
for i in range(range_start, range_end_before, range_increment):
    range_count_before = sum(i <= num < i + range_increment for num in result_before)
    appearance_rates_before[f"{int(i/7000 + 1)}"] = range_count_before / 7000

In [ ]:
df_appearance_rates_before_merge = pd.DataFrame(appearance_rates_before.items(), columns=['Day', 'Appearance Rate'])
df_appearance_rates_before_merge['status'] = 'before merge'
df_appearance_rates_before_merge

   Day  Appearance Rate        status
0    1         0.476000  before merge
1    2         0.462000  before merge
2    3         0.466714  before merge
3    4         0.479857  before merge
4    5         0.462714  before merge
5    6         0.467000  before merge
6    7         0.493000  before merge
7    8         0.499429  before merge
8    9         0.498571  before merge
9   10         0.488571  before merge
10  11         0.483857  before merge
11  12         0.480000  before merge
12  13         0.486429  before merge
13  14         0.495143  before merge
14  15         0.494714  before merge
15  16         0.480429  before merge
16  17         0.459000  before merge
17  18         0.455286  before merge
18  19         0.490429  before merge
19  20         0.481000  before merge
20  21         0.462143  before merge
21  22         0.447571  before merge
22  23         0.468286  before merge
23  24         0.465714  before merge
24  25         0.460571  before merge
25  26         0.479286  before merge
26  27         0.464429  before merge

# After Merge

In [ ]:
onchain_block_after_merge = pd.read_csv('/content/drive/My Drive/WIP/block_data_after_merge.csv',index_col=0).sort_values("number").reset_index(drop=True)
onchain_block_after_merge

          number  transaction_count  gas_used  gas_limit
0       15537940                209  27657346   30000000
1       15537941                146  11461054   30000000
2       15537942                 83   9964205   30000000
3       15537943                704  29984209   30000000
4       15537944                 60   5977602   30000000
...          ...                ...       ...        ...
213855  15751795                121  11674899   30000000
213856  15751796                 16   1020762   30000000
213857  15751797                207  29986013   30000000
213858  15751798                132  29988685   30000000
213859  15751799                 60   8859587   30000000

[213860 rows x 4 columns]

In [ ]:
onchain_block_after_merge_block_number = onchain_block_after_merge['number'].tolist()
len(onchain_block_after_merge_block_number)

213860

In [ ]:
flashbot_block_after_merge = pd.read_csv('/content/drive/My Drive/WIP/flashbot_block_after_merge.csv',index_col=0).sort_values("block_number").reset_index(drop=True)
flashbot_block_after_merge

,block_number,miner_reward,coinbase_transfers,gas_price,gas_used,eth_sent_to_fee_recipient,fee_recipient_eth_diff
0,15537940,283042739584963231,181450887549508980,10842497227,26104940,181450887549508980,283042739584963231
1,15537948,846226512914381330,706155441689952645,30811188273,27464910,706155441689952645,846226512914381330
2,15537978,85433671113653785,52421014046673119,114488430523,746221,52421014046673119,85433671113653785
3,15538064,143414581553755857,48795257578301774,5946093633,24119126,48795257578301774,143414581553755857
4,15538094,638267240970677870,23206167996126025,28295407914,22557273,23206167996126025,638267240970677870
...,...,...,...,...,...,...,...
45996,15751784,38209087349881585,0,5886740981,6490703,0,38209087349881585
45997,15751785,89905357231989414,0,155450931667,578352,0,89905357231989414
45998,15751790,17898088620016168,580897392510000,3675625805,4869399,580897392510000,17898088620016168
45999,15751795,37204650258511243,0,4640284491,8017752,0,37204650258511243
46000,15751798,20687147621586365,226832830232819,4795112812,4314215,226832830232819,20687147621586365

In [ ]:
flashbot_block_after_merge_block_number = flashbot_block_after_merge['block_number'].tolist()
len(flashbot_block_after_merge_block_number)

46001

In [ ]:
result_after = []
for num in flashbot_block_after_merge_block_number:
    subtracted_num = int(num) - 15537940
    result_after.append(subtracted_num)

In [ ]:
period_after = int(np.floor(onchain_block_after_merge.shape[0] / daily))

In [ ]:
daily_perc_after_merge = []

range_start = 0
range_end_after = period_after * daily

# Define the range increment
range_increment = 7000

# Create a dictionary to store the appearance rates
appearance_rates_after = {}

# Count the appearance rates within each range
for i in range(range_start, range_end_after, range_increment):
    range_count = sum(i <= num < i + range_increment for num in result_after)
    appearance_rates_after[f"{int(i/7000 + 1)}"] = range_count / 7000

In [ ]:
df_appearance_rates_after_merge = pd.DataFrame(appearance_rates_after.items(), columns=['Day', 'Appearance Rate'])
df_appearance_rates_after_merge['status'] = 'after merge'
df_appearance_rates_after_merge

   Day  Appearance Rate       status
0    1         0.112857  after merge
1    2         0.126714  after merge
2    3         0.122000  after merge
3    4         0.135429  after merge
4    5         0.154857  after merge
5    6         0.179571  after merge
6    7         0.191571  after merge
7    8         0.174143  after merge
8    9         0.210286  after merge
9   10         0.180143  after merge
10  11         0.207857  after merge
11  12         0.216714  after merge
12  13         0.228571  after merge
13  14         0.237571  after merge
14  15         0.244857  after merge
15  16         0.235714  after merge
16  17         0.247286  after merge
17  18         0.273000  after merge
18  19         0.262429  after merge
19  20         0.258714  after merge
20  21         0.277000  after merge
21  22         0.266714  after merge
22  23         0.251000  after merge
23  24         0.228714  after merge
24  25         0.224714  after merge
25  26         0.219000  after merge
26  27         0.242857  after merge
27  28         0.240286  after merge
28  29         0.273571  after merge
29  30         0.236571  after merge

In [ ]:
df_appearance_rates = df_appearance_rates_before_merge.append(df_appearance_rates_after_merge).reset_index(drop=True)

<ipython-input-21-a126d3ae462d>:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_appearance_rates = df_appearance_rates_before_merge.append(df_appearance_rates_after_merge).reset_index(drop=True)

In [ ]:
import plotly.express as px
fig1 = px.line(df_appearance_rates, y='Appearance Rate', color='status')
fig1.update_layout(
    title="Daily Perc of Blocks Processed by Flashbots Before and After Merge",
    xaxis_title='Day',
    yaxis_title='Percentage'
)
fig1.show()